@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}
.text_large {
  font-size: 32px;
}
.text_small {
  font-size: 24px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}
@media (max-width: 510px) {
  .wrapper {
    width: 100%;
  }
}

.todohero_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  max-width: 455px;
  border-radius: 11px;
  margin-left: 2rem;
  margin-right: 2rem;
  @include dynamicFont(600, 0.5rem, 1rem, $navyblue);
}
.todohero_section div:last-child {
  background-color: $skyblue;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.todo__form {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 38px;
}
.todo__form label {
  width: 90%;
}
.todo__form input {
  background-color: #1f2937;
  color: #fff;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 11px;
  padding: 12px;
}
.todo__form--button {
  width: 10%;
  height: 50px;
  border-radius: 11px;
  background-color: #88ab33;
  border: none;
}
.todo_list {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 27px;
}
.todo_item,
.edit-form input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 455px;
  border: 1px solid #c2b39a;
  font-size: 16px;
  background-color: #0d0d0d;
  color: #fff;
  padding: 12px;
}
.todo_item p {
  background-color: transparent;
}
.edit-form input {
  outline: transparent;
  width: calc(100% - 14px);
  height: calc(100% - 12px);
  border: transparent;
}
.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
}
.todo_items_left {
  background-color: transparent;
  border: none;
  color: #fff;
  gap: 12px;
  font-size: 16px;
}
.todo_items_left circle {
  background-color: white;
  z-index: 5;
  width: 10px;
  height: 10px;
  border-radius: 4px;
}
.todo_items_right {
  gap: 4px;
}
.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: none;
}
.todo_items_right button svg {
  fill: #c2b39a;
}

.del-button {
  background: none;
  border: none;
  height: 1rem;
  width: 1rem;
}

.del-icon {
  height: 1rem;
}

.todo__components {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.add {
  width: 100%;
  border: none;
  background-color: $skyblue;
  height: 1.5rem;
  border-radius: 8px;
  padding-left: 0.5rem;
  @include dynamicFont(600, 0.75rem, 1rem, $navyblue);

  &__button {
    border: none;
    @include dynamicFont(600, 0.75rem, 1rem, $white);
    background-color: $navyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
    margin-top: 1rem;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
