@import "../../styles/partials/mixins";
@import "../../styles/partials/colors";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.pL {
  &__greeting {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__hi {
    @include dynamicFont(600, 1.45rem, 2rem, $navyblue);
    background: none;
  }

  &__slogan {
    @include dynamicFont(600, 0.45rem, 1rem, $blue);
    background: none;
  }

  &__no-projects {
    @include dynamicFont(600, 0.75rem, 1rem, $navyblue);
    background: none;
  }

  &__search {
    width: 100%;
    border: none;
    background-color: rgba(219, 226, 239, 0.5);
    height: 2.75rem;
    margin-top: 0.5rem;
    border-radius: 20px;
  }

  &__search-form {
    position: relative;
  }

  &__search--icon {
    position: absolute;
    height: 2rem;
    top: 0.9rem;
    left: 0.75rem;
    background: none;
  }

  &__search::placeholder {
    @include dynamicFont(400, 0.75rem, 1rem, $navyblue);
    padding-left: 3rem;
  }

  &__search:focus {
    @include dynamicFont(400, 0.75rem, 1rem, $navyblue);
    padding-left: 3rem;
    border: 2px solid $blue;
    outline: none;
  }

  &__search:focus::placeholder {
    padding-left: 0;
  }
}

.greeting__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  gap: 1.05rem;
  height: 6rem;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 5rem;
  border: 2px solid $blue;
  border-radius: 15px;
}

.greeting__icon {
  background: none;
  height: 3.25rem;
  margin-top: 0.2rem;
  margin-right: 0.75rem;
  &--container {
    background: none;
    position: relative;
  }
}

.project {
  &__header {
    @include dynamicFont(600, 1rem, 1rem, $navyblue);
    margin-left: 2rem;
    margin-top: 1rem;
  }

  &__card {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    background-color: rgba(219, 226, 239, 0.5);
    height: 6rem;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 5rem;
    border: 2px solid $blue;
    border-radius: 15px;
    position: relative;
  }
  &__date {
    background: none;
    @include dynamicFont(600, 0.75rem, 1rem, $navyblue);
  }

  &__name {
    background: none;
    @include dynamicFont(600, 0.85rem, 1rem, $navyblue);
    padding-top: 0.35rem;
  }

  &__type {
    background: none;
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
  }

  &__status {
    background: none;
    margin-top: 1rem;
    background-color: $blue;
    width: 6rem;
    @include dynamicFont(500, 0.75rem, 1.5rem, $white);
    display: flex;
    justify-content: center;
    border-radius: 10px;

    &--closed {
      background: none;
      margin-top: 1rem;
      background-color: $skyblue;
      width: 6rem;
      @include dynamicFont(500, 0.75rem, 1.5rem, $white);
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
  }

  &__more {
    background: none;
    border: none;
    position: absolute;
    top: 0.5rem;
    right: 0.25rem;
    height: 1.25rem;
  }

  &__id {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    gap: 0.5rem;
  }
}

.status__tracker {
  @include dynamicFont(400, 0.75rem, 1rem, $lightgreen);

  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  height: 13.5rem;
  border: 2px solid $blue;
  border-radius: 15px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphs {
  display: flex;
  flex-direction: row;
}

.pie-label {
  @include dynamicFont(600, 0.75rem, 1rem, $navyblue);
}
